# Twitch Configuration
TWITCH_CLIENT_ID=
TWITCH_ACCESS_TOKEN=

DEV_USERNAME=
DEV_ID=

STREAMER_USERNAME=
STREAMER_ID=

BOT_USERNAME=
BOT_ID=

ARRIVE_EMOTE=
LEAVE_EMOTE=

# Spotify Configuration
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_ACCESS_TOKEN=
SPOTIFY_REFRESH_TOKEN=